<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Управление задачами</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
</head>
<body>

<%= yield %>

</body>
</html>
